@import "tailwindcss";

@theme {
	--font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
  --text-primary: black;
  --text-accent: #EF4444;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
  --text-primary: white;
  --text-accent: #FFFFFF;
}